/*FOR HOME PAGE */

.maintheme {
  color: rgb(33, 58, 8);
  text-align: center;
}

h1 {
  color: rgb(33, 58, 8);
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}

.industrial {
  color: rgb(76, 45, 17);
  text-align: center;
  font-size: 60px;
}


.background_a {
  /* background-color: rgb(242, 227, 227); */
}

.date {
  color:rgb(76, 29, 29);
  font-weight: 700;
}

.region_name {

}

/* FOR PHOTOS  */
.photo {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* //////////////////////////////////////////////////// */

.navbar-custom {
    font-weight: bold;
    background-color: rgb(52, 91, 12);
    margin-top: -6px;
    margin-bottom: -6px;
}

.nav-colour {
  color: white;
}

/* //////////////////////////////////////////////////////// */

.margin-a {
  margin-left: 180px;
  margin-top: 70px;
}
.margin-b{
  margin-bottom: 20px;
}

.row-border{
  border-bottom: 4px solid;
  border-bottom-style: groove;
  border-color: rgb(52, 91, 12);
}

.title-border{
  border-top: 4px solid;
  border-bottom: 4px solid;

}

/*FOR WRITING (DATES, CAPTIONS, DESCRIPTIONS)*/





/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
