<br><br>
<h2>About this Project</h2>  <br> <br>

<div class="container">
  <div class="row">
    <div class="col writings">
      <p class = "underline">April 7, 2018</p>
      <p>This project was my first Ruby-on-Rails web application, a way to practice database management and web design.  It divides all the specific locations
          I have been to (restaurants, parks, concerts) according to regions - distinct areas that lack definitive borders.  This will
          hopefully give viewers (especially myself) specific data on where and when I went, and what I did, while also giving a broader
          geographical picture of my life as a whole. </p>

      <p>To my surprise, this experiment in applying my tech knowledge has turned into something of a life project.  In the future I
          plan to a) upload my own pictures to the database (rather than the links you see here (thanks DuckDuckGo!)); b) attach more
          descriptive writing to each location, turning the website into something of a personal blog; c) implement cooler design features
          as I become more practiced in web design.  </p>

      <p>If you would like to chat with me, or if you spot a bug that I should know about, feel free to contact me at: dylanwjc@gmail.com.
         Do you like my writing?  I'll be making more websites in the near future.  I write about the social sciences, the environment,
         industry, history, and technology.  </p>

      <p>Special thanks to <a href="https://anthonydeguzman.com/">Anthony DeGuzman</a></a> for his guidance with this project. </p>
    </div>

  </div>

</div>
<br>
  <br>
    <br>
