<br>
<div class = "page-header"><h2 class ="">Add a New Region</h2></div>
<br>
<br>
<div class="container">
  <form class="form-custom" action="/create_region" >
    <div class="form-group">
      <label for="name" class = "form-labels form-cells">Name</label>
      <input type="text" class = "form-control form-cells" id="name" name="name">
    </div>

    <div class="form-group">
      <label for="image_url" class = "form-labels form-cells">Image URL</label>
      <input type="text" class = "form-control form-cells" id = "image_url" name="image_url" >
    </div>

    <div class="form-group">
      <label for="begDate" class = "form-labels">Beginning Date of Trip</label>
      <input type="date" class = "form-control form-cells" id = "begDate" name="begDate">
    </div>

    <div class="form-group">
      <label for="endDate" class = "form-labels">End Date of Trip</label>
      <input type="date" class = "form-control form-cells" id = "endDate" name="endDate" >
    </div>

    <div class="form-group">
      <label for="description" class = "form-labels">Description</label>
      <input type="text" size = "150" class = "form-control form-cells" id="description" name="description" > <br>
    <input type="submit" class = "btn form-labels">

  </form>
</div>
<br><br><br>
