<h1>Are you SURE you want to delete <%= @region.name %> from the database</h1>
<br>
  <br>
    <br>
      <br>

      <a href="/destroy_region/<%=@region.name.capitalize%>" class = "btn btn-danger">YES</a>
      <a href="/regions" class = "btn btn-primary">NO</a>
