<br>
<h1 class = "maintheme">Add a New Location</h1>
<br>
<br>
<form class="" action="/<%= @region.name %>/create_location" >
  <label for="name">Caption</label>
  <input type="text" id="caption" name="caption" value="">
  <label for="name">Region</label>
  <input type="text" id="region_id" name="region_id" value="">
  <label for="image_url">Image URL</label>
  <input type="text" id = "image_url" name="image_url" value="">
  <label for="date">Date Visited</label>
  <input type="date" id = "date" name="date" value="">
  <label for="endDate">Nearest City or CMA</label>
  <input type="text" id = "city_or_CMA" name="city_or_CMA" value="">
  <input type="submit">
</form>
