<h1 class = "industrial">Location: <%= @location.caption.titleize %></h1>
<img class = "photo" src="<%=@location.image_url %>" alt="<%=@location.caption %>" width = 500>
<br>
<p class = "mainthick"><%= @location.date %></p>
<br>
<br>

<!-- BUTTONS -->
