<h1 align = "center">Are you SURE you want to delete <%= @location.caption %> from the database?</h1>
<br>
  <br>
    <br>
      <br>

<a href="/<%=@region.name%>/destroy_location/<%= @location.id %>" align = "center" class = "btn btn-danger">YES</a>
<a href="/regions" class = "btn btn-primary">NO</a>
