<!DOCTYPE html>
<html>
  <head>
    <title>Regions</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAACr9RAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERERAAARERERERAAAAERERERAAAAABERARAAIAIAARABAAIAACAAAAAAAAAAAAAAIAIAARAAIAIAIAAREQACAAAAAREREAAAAAARERERAAAQAREREREREREREREREREREREREREREREREREREREREREREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class = "">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">


      <div  class="collapse navbar-collapse nav-custom " id="navbarSupportedContent">  <!--THIS IS WHAT CHANGES THE NAVBAR COLOUR -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-color " href="/">| HOME |<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-color" href="/new_region">| + Add Region |</a>
          </li>
          <li class="nav-item">
            <a class="nav-color" href="">| + Add Location |</a>
          </li>
          <li class="nav-item">
            <a class="nav-color" href="/all_locations">| All Locations |</a>
          </li>
          <li class="nav-item">
            <a class="nav-color" href="/about">| About |</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-color"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 background_a" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    <%= yield %>



  </body>
</html>
